<template>
  <div class="home">
    <HotelsList></HotelsList>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import HotelsList from "@/components/HotelsList.vue";

export default Vue.extend({
  name: 'Home',
  components: {
    HotelsList
  },
});
</script>