<template>
  <div class="hotel">
    <HotelInfo></HotelInfo>
    <ContactForm></ContactForm>
  </div>
</template>
<script lang="ts">

import Vue from 'vue';
import HotelInfo from "@/components/HotelInfo.vue";
import ContactForm from "@/components/ContactForm.vue";

export default Vue.extend({
  name: 'Hotel',
  components: {
    HotelInfo,
    ContactForm
  }
});
</script>

<style lang="scss">

</style>