<template>
  <div id="contact-form" class="contact-form">
    <h1 class="contact-form_title">Do you want to book?</h1>
    <div class="separator"></div>

    <div v-if="isSending" class="loading">Sending...</div>

    <form v-show="!isSending && !isSubmitted" class="form" @submit.prevent="submit">
      <input required name="name" v-model='contact.name' placeholder="Name" type="text" autocomplete="off">
      <input required name="email" v-model="contact.email" placeholder="E-mail" type="email" autocomplete="off">
      <input required name="address" v-model='contact.address' placeholder="Address" type="text" autocomplete="off">

      <button class="button">Send</button>
    </form>

    <div v-show="isSubmitted" class="success-message">
      Booking data sent successfully!
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ContactForm',
  data: function() {
    return {
      contact: {
        name: '',
        email: '',
        address: '',
      },
      isSending: false,
      isSubmitted: false
    };
  },
  methods: {
    clearForm() {
      for (let field in this.contact) {
        this.contact[field] = ''
      }
    },

    submit() {
      this.isSending = true;

      setTimeout(() => {
        // Form sending code there...

        this.clearForm();
        this.isSending = false;
        this.isSubmitted = true;
      }, 1500);
    }
  }
});
</script>

<style scoped lang="scss">

.contact-form {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;

  .loading,
  .success-message {
    padding: 1em 2em 2em;
  }

  .separator {
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
  }

  .form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  input[type="email"],
  input[type="text"] {
    border: solid 1px #e8e8e8;
    padding: 10px 7px;
    margin-bottom: 15px;
    outline: none;
  }

  .button {
    background: #da552f;
    border: solid 1px #da552f;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background: #ea532a;
      border: solid 1px #ea532a;
    }
  }

  input[type="email"],
  input[type="text"],
  .button {
    font-size: 15px;
    border-radius: 3px
  }
}

.contact-form_title {
  color: #333;
  text-align: left;
  font-size: 28px;
}
</style>
