<template>
  <div class="hotels-list">
    <h1>Top CUVA Hotels</h1>

    <div class="hotels-container">
      <div class="hotel" v-for="hotel in hotelsList" :key="hotel.id">
        <div class="image-preview">
          <img :src="hotel.preview" :alt="hotel.title">
        </div>
        <div class="hotel-info">
          <h3>
            <router-link :to="'/hotel/' + hotel.id">
              {{ hotel.title }}
            </router-link>
          </h3>

          <p>{{ hotel.description }}</p>
        </div>
      </div>
    </div>

    <div class="load-mode" v-show="hotelsCount < 24">
      <a @click="loadMore">Load more</a>
    </div>

  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {mapGetters, mapActions} from 'vuex'

export default Vue.extend({
  name: 'HotelsList',
  computed: {
    ...mapGetters([
      'hotelsList',
      'hotelsCount'
    ]),
  },
  mounted() {
    this.fetchHotels(12);
  },
  methods: {
    ...mapActions(['fetchHotels']),

    loadMore() {
      if(this.hotelsCount < 24) {
        this.fetchHotels(this.hotelsCount + 6);
      }
    }
  }
});
</script>

<style scoped lang="scss">
.hotels-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  .hotel {
    padding-bottom: 30px;
    width: 30%;

    @media (max-width: 799px) {
      width: 47%;
    }

    @media (max-width: 499px) {
      width: 100%;
    }

    .image-preview {
      img {
        width: 100%;
      }
    }

    .hotel-info {
      h3 {
        text-transform: capitalize;
      }

      p:first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.load-mode {
  padding-bottom: 20px;

  a {
    margin: 1em;
    padding: 0.7em 2em;
    transition-property: background-color, color, border;
    transition-duration: 150ms, 100ms, 50ms;

    font: inherit;

    cursor: pointer;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    line-height: 18px;
    font-weight: bold;

    border: none;
    border-radius: 4px;

    background-color: #587fa7;
    color: #fff;
  }

}
</style>
