<template>
  <div class="hotel-info">
    <div id="nav">
      <router-link to="/">Back to Hotels list</router-link>
    </div>

    <div v-if="hotel" class="hotel-container">
      <div class="image-preview">
        <img :src="hotel.photo" :alt="hotel.title">
      </div>
      <div class="hotel-info">
        <h1>{{ hotel.title }}</h1>
        <p>{{ hotel.body }}</p>
      </div>
    </div>
    <div v-else>Hotel not found</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {mapActions} from "vuex"

export default Vue.extend({
  name: 'HotelInfo',
  computed: {
    hotel() {
      if(this.$store.getters.hotelsCount === 0) this.fetchHotels();
      return this.$store.getters.getHotelById(+this.$route.params.id)
    }
  },
  methods: mapActions(['fetchHotels'])
});
</script>

<style scoped lang="scss">
.hotel {
  .hotel-container {
    max-width: 600px;
    margin: 0 auto;

    .image-preview {
      img {

      }
    }

    .hotel-info {
      h1 {
        text-transform: capitalize;
      }

      p:first-letter {
        text-transform: capitalize;
      }
    }
  }
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
