<template>
  <div id="app" class="container">
    <router-view/>
  </div>
</template>

<style lang="scss">

$width-container: 1190px;
$color-link: #587fa7;
$color-link-hover: #415e7c;
$color-text: #2c3e50;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-text;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: $color-link;

  &:hover,
  &:active,
  &:visited {
    color: $color-link-hover;
  }
}

.container {
  max-width: $width-container;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

</style>
